.divPrincipal{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;

    height: 150px;;
}
.divSecundario-1{
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
}
.divSecundario-2{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
}
.divSecundario-3{
    background-color: green; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
}
