img{
    width: 250px;
    border-radius: 25px 0 25px 0;
}
h4{
    text-decoration: underline;
}
form{
    margin: 50px;
    border: 2px solid black;
    padding: 3rem;
}
.divSecundario{
    background-color: rgb(241, 239, 239);
    width: 50%;
}
p{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}