img{
    width: 250px;
    border-radius: 25px 0 25px 0;
}
.h1-principal:hover{
    color: white;
    background-color: black;
    width: 19%;
    transform: translate(250px, 0);
    transition: transform 1s;
}

h4{
    text-decoration: underline;
}
form{
    margin: 50px;
    border: 2px solid black;
    padding: 3rem;
    
}
.flex-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divSecundario{
    background-color: rgb(241, 239, 239);
    width: 50%;
}
.divSecundario:hover{
    background: #676470;
    border: 2px solid black;
    color: #fff;
    transition: all 0.3s ease;
}
p{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
p::before{
    content: '➡️'
}
img:hover{
    transition: transform 1.5s;
    transform: rotate(180deg);
}